#projectDiv {
    transition: box-shadow .3s;
    border-radius: 5px;
    width: 275px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 25px;
}

#projectDiv:hover {
    -webkit-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);
    cursor: pointer;
}

#timeSpan {
    font-size: 13px;
    font-style: italic;
    font-weight: 700;
    margin-top: 5px;
}

#logoDiv {
    width: 75px;
    height: 75px;
    background: white;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 10px;
}

#icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#lowEnphasis {
    font-size: 14px;
}

#contactBtn {
    background-color: transparent;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px 40px;
}