body {
  font-family: 'Nunito';
  background-color: white;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}

input {
  outline: none;
}

#justifyAround {
  display: flex;
  justify-content: space-around;
}

.displayFlex {
  display: flex;
}

.loading {
  position: fixed;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  height: 100px;
}

.mainColor {
  color: #23F0C7
}

.white {
  color: white;
}

.title {
  font-size: 60px;
}

.font600 {
  font-weight: 600;
}

.font800 {
  font-weight: 800;
}

.font300 {
  font-weight: 300;
}

button {
  outline: none;
}

.fontWeight400 {
  font-weight: 400;
}

.font200 {
  font-weight: 200;
}

.displayFlexColumn {
  display: flex;
  flex-direction: column;
}

#alignCenter {
  text-align: center;
}

#alignLeft {
  text-align: left;
}

.links {
  text-decoration: none;
  color: black;
}

.links:hover {
  color: black;
}

#justifyEvenly {
  display: flex;
  justify-content: space-evenly;
}

#alignItemsCenter {
  align-items: center;
}

#alignItemsFS {
  align-items: flex-start;
  font-family: 'Nunito';
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

#fileDrop {
  display: none;
}

#icon {
  height: 50px;
}

@media screen and (max-width: 480px) {
  #icon {
    height: 25px;
  }
  h1 {
    margin-bottom: 0px;
  }
}

#lowEnphasis {
  color: rgba(0, 0, 0, 0.6);
}

a {
  text-decoration: none;
}

#btn {
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-family: 'Nunito';
  font-weight: 800;
  padding: 10px;
  cursor: pointer;
}

#popUpIcn {
  font-size: 25px;
}

#nunito {
  font-family: 'Nunito';
}

#line {
  width: 95%;
  color: rgb(194, 194, 194);
}

.advert {
  font-size: 12px;
  font-weight: 200;
  margin: 10px 0px;
  color: #9194a0;
  font-size: 14px;
}

#alignSelfEnd {
  align-self: flex-end;
}

#flexWrap {
  flex-wrap: wrap;
  display: flex;
}

#giveMargin {
  margin: 25px 0px;
}

#giveLessMargin {
  margin-top: 25px;
  margin-bottom: 10px;
}

h5 {
  padding: 0px;
  margin: 0px;
}

.marginSides {
  margin: 0px 25px;
}

body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

body::-webkit-scrollbar-button {
  display: none;
}