#closeBtn {
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 10px;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

#mainDiv {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    background-color: white;
    width: 75%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90%;
}

#projectDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    padding: 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 25px;
}

#projectDiv:hover {
    background: rgb(231, 231, 231);
}

#btn {
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-family: 'Nunito';
    font-weight: 800;
    padding: 10px;
    cursor: pointer;
    margin: 25px;
}

#btn:disabled {
    color: white;
}

#applyBtn {
    border: none;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-family: 'Nunito';
  font-weight: 800;
  padding: 10px 60px;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid white;
}

#imgDiv {
    background-color: white;
    padding: 2.5px 5px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skillSpan {
    font-size: 12.5px;
    font-weight: 800;
    padding: 5px;
    border-radius: 5px;
    margin: 0px 5px;
}

#icon {
    height: 40px;
}

#projectName {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 5px;
}

#jobInfoDiv {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: space-between;
    align-items: flex-start;
}

#emptyIcon {
    height: 300px;
    margin: 25px 0px;
}


#postBtn {
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: 800;
    padding: 10px 50px;
    cursor: pointer;
    margin: 0px 25px;
}

#accepted {
    font-size: 100px;
    color: green;
    margin: 25px 0px;
}

#mainJobDiv {
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
    display: flex;
    align-items: center;
    color: white;
    padding: 25px;
    margin: 25px 0px;
    width: 85%;
    justify-content: space-between;
}

#loading {
    margin: 100px;
}