#mainImage {
    width: 100%;
    height: 400px;
    background-position: bottom;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#searchDiv {
    background-color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 35px;
    margin-bottom: 125px;
    display: flex;
    align-items: center;
    z-index: 100;
}

#searchInput {
    width: 340px;
    color: black;
    border: none;
    margin-left: 10px;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 600;
    z-index: 11;
}

#userCards {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 100px;
    padding: 25px 0px;
}

#filteredDiv {
    background-color: #f9f9f9;
    padding: 25px 50px;
    border-radius: 5px;
    margin: 25px 0px;
    width: 81%;
    align-self: center;
    z-index: 1000;
}

#skillSpan {
    font-size: 12.5px;
    font-weight: 800;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    #filteredDiv {
        padding: 10px 25px;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }
    #mainImage {
        height: 200px;
    }
    #searchDiv {
        padding: 10px;
        font-size: 17px;
        width: 75%;
        margin-bottom: 35px;
    }
    #searchInput {
        font-size: 17px;
        width: 100%;
    }
}

#loading {
    height: 75px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#suggestionsLoading {
    height: 75px;
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#empty {
    height: 500px;
}

#emptyDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

#secondDivEmpty {
    margin-left: 270px;
    color: black;
    width: 90%;
    padding: 34px 48px 0 0px;
    margin-top: 90px;
}

#userCards::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }
  
  #userCards::-webkit-scrollbar-track {
    background-color: #fff;
  }
  
  #userCards::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
  }
  
  #userCards::-webkit-scrollbar-button {
    display:none;
  }

#verification {
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#GPdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#goPremiumBtn {
    padding: 10px;
    font-family: 'Nunito';
    font-weight: 600;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 25px;
    cursor: pointer;
}

#goPremiumBtn:hover {
    color: #f9f9f9;
    background: black;
}