#mainImage {
    width: 100%;
    height: 400px;
    background-position: bottom;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

#searchInput {
    width: 340px;
    color: black;
    border: none;
    margin-left: 10px;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 600;
    z-index: 10;
}

::placeholder {
    color: black;
}

#searchDiv {
    background-color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    z-index: 100;
    margin-bottom: 175px;
}

#imgDiv {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#mainDivProfile {
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
    display: flex;
    align-items: center;
    color: white;
    padding: 25px;
    margin: 10px 0px;
    width: 80%;
    justify-content: space-between;
}

#jobInfoDiv {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: space-between;
}

#btn {
    border: none;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-family: 'Nunito';
  font-weight: 800;
  padding: 10px 60px;
  cursor: pointer;
  background-color: transparent;
  border: 4px solid white;
  margin-right: 25px;
}

#skillDiv {
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#skillSpan {
    font-size: 14px;
    font-weight: 800;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 5px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
}

#mainDivJP {
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
    display: flex;
    align-items: center;
    color: white;
    padding: 25px;
    margin: 10px 0px;
    width: 95%;
    justify-content: space-between;
}

#mainDiv {
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
    display: flex;
    align-items: center;
    color: white;
    padding: 25px;
    margin: 10px 0px;
    width: 85%;
    justify-content: space-between;
}

#badgeDiv {
    margin-top: 5px;
}

#badge {
    color: white;
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 10px;
    border: 2px solid white;
}

#end {
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
    font-weight: 400;
}

@media screen and (max-width: 480px) {
    .endDiv {
        text-align: center;
    }
    #end {
        width: 50%;
    }
    #nameAndLogo {
        justify-content: center;
    }
    #badge {
        margin: 5px;
    }
    #badgeDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #time {
        display: none;
    }
    #applyAndMoment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mainDiv {
        flex-direction: column;
    }
    #mainImage {
        height: 200px;
    }
    #searchDiv {
        padding: 10px;
        font-size: 17px;
        width: 75%;
        margin-bottom: 35px;
    }
    #searchInput {
        font-size: 17px;
        width: 100%;
    }
    #mainDivJP {
        flex-direction: column;
        align-items: center;
        min-width: 100%;
    }
    #mainImage {
        height: 200px;
        margin-bottom: 50px;
    }
    #imgDiv {
        display: none;
    }
    #mainDivProfile {
        flex-direction: column;
        text-align: center;
    }
    #applyDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #pinned {
        align-self: flex-end;
    }
    #jobInfoDiv {
        margin-left: 0px;
    }
    #btn {
        margin: 0px;
        margin: 10px 0px;
    }
    #skillDiv {
        max-width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    #skillSpan {
        margin: 5px;
        font-size: 12px;
    }
    #applicantsDiv {
        margin-top: 25px;
    }
}

.link {
    text-decoration: none;
}

#editBtn {
    font-size: 14px;
    font-weight: 300;
    padding: 7.5px;
    border-radius: 5px;
    margin: 5px 5px;
    cursor: pointer;
}

#iconDiv {
    font-size: 20px;
    width: 75px;
    margin-left: 25px;
    justify-content: space-around;
    display: flex;
}

#loading {
    height: 100px;
    margin-top: 75px;
}

#projectName {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 5px;
}

#verification {
    height: 20px;
    margin-left: 5px;
}

#icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#filteredDiv {
    background-color: #f9f9f9;
    padding: 25px 50px;
    border-radius: 5px;
    margin: 25px 0px;
    width: 81%;
}