#fixedDiv {
    position: fixed;
    background: black;
    height: 100%;
    width: 240px;
    color: white;
}

#logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

#invertedLogo {
    max-width: 200px;
    margin-right: 15px;
    max-height: 75px;
}

#secondDiv {
    margin-left: 270px;
    color: black;
    width: 90%;
    padding: 34px 48px 0 0px;
}

#jobDiv {
    margin-bottom: 25px;
}

#addBtn {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

#empty {
    height: 450px;
}

#emptyDiv {
    display: flex;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 68%;
    transform: translate(-50%, -68%);
    width: 90%;
}

#addBtn2 {
    background: black;
    color: white;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 25px;
    transition: 0.3s;
    border: 4px solid black;
}

@media screen and (max-width: 480px) {
    #innerEmptyDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #addBtn2 {
        padding: 5px 25px;
        font-size: 15px;
    }
    #empty {
        height: 200px;
    }
    #emptyDiv {
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #addBtn {
        padding: 20px;
    }
    #fixedDiv {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #invertedLogo {
        max-width: 75px;
        max-height: 75px;
        margin-right: 0px;
    }
    #secondDiv {
        text-align: center;
        margin-left: 0px;
        margin-top: 125px;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    #jobDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        width: 90%;
    }
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100px;
    transform: translate(-50%, -50%);
  }

#addBtn2:hover {
    background-color: white;
    color: black;
}