#fixedDiv {
    position: fixed;
    background: black;
    height: 100%;
    width: 240px;
    color: white;
}

#logo {
    max-width: 200px;
    margin-right: 15px;
    max-height: 75px;
}

#logoDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 34px 12px;
}

#secondDiv {
    margin-left: 250px;
    color: black;
    width: 70%;
    padding: 34px 48px 0 64px;
}

.input {
    border: 2px solid rgb(231, 231, 231);
    border-radius: 5px;
    background: transparent;
    font-size: 17.5px;
    font-family: 'Nunito';
    outline: none;
    padding: 10px;
    margin: 15px 0px;
    width: 725px;
}

.inputSkill {
    border: 2px solid rgb(231, 231, 231);
    border-radius: 5px;
    background: transparent;
    font-size: 17.5px;
    font-family: 'Nunito';
    outline: none;
    padding: 10px;
    margin: 15px 0px;
    width: 725px;
}

#selectedSkills {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
}

#textarea {
    display: none;
}

#uploadBtn {
    border-radius: 5px;
    font-weight: 600;
    width: 20%;
    font-size: 17.5px;
    padding: 15px;
    text-align: center;
    margin: 15px 0px;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    font-family: 'Nunito';
}

.loading {
    height: 100px;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
    #uploadBtn {
        width: 50%;
        margin-top: 0px;
    }
    #innerDiv {
        width: 90%;
    }
    #textarea {
        display: block;
        border: 2px solid rgb(231, 231, 231);
        border-radius: 5px;
        background: transparent;
        font-size: 17.5px;
        font-family: 'Nunito';
        outline: none;
        padding: 10px;
        margin: 15px 0px;
        width: 100%;
        height: 200px;
    }
    #selectedSkills {
        max-width: 100%;
    }
    .inputSkill {
        width: 100%;
    }
    .input {
        width: 100%;
    }
    #mainSpan {
        text-align: center;
        margin-bottom: 25px;
    }
    #secondDiv {
        margin-left: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 110px;
    }
    #fixedDiv {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
    #logo {
        max-width: 75px;
        margin-right: 0px;
    }
    #logoDiv {
        padding: 0px;
    }
}

#alert {
    width: 50%;
}

.title {
    font-weight: 600;
    margin-bottom: 15px;
}

#skillBtn {
    font-size: 17px;
    font-weight: 200;
    margin-right: 25px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    font-family: 'Nunito';
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
}

#skillDiv {
    display: flex;
    flex-direction: column;
    margin: 25px 0px;
}