#firstBlock {
    font-size: 30px;
    color: white;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-image: url(https://images.unsplash.com/photo-1599153066743-08810dc8a419?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80);
    height: 400px;
}

#innerTxtDiv {
    width: 75%;
    text-align: center;
}

#secondBlock {
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 25px;
    font-weight: 200;
}

#secondBlockTxt {
    width: 50%;
}

#txtDiv {
    font-size: 20px;
    display: flex;
}

.smallTxt1 {
    width: 52%;
    margin-right: 25px;
}

.smallTxt2 {
    width: 50%;
    margin-left: 25px;
}

.btn {
    margin-top: 50px;
    background: #8c50ff;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 25px;
    border: none;
    padding: 20px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.icon {
    height: 500px;
    width: 50%;
}

#logoTxtDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;
}

.logo {
    max-height: 150px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    cursor: pointer;
    margin: 25px 75px;
    max-width: 150px;
}

#logoDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#thirdBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 50px 0px;
    margin-bottom: 100px;
}

#fourthBlock {
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 25px;
    font-weight: 200;
}

.bold {
    font-weight: 800;
}

@media screen and (max-width: 480px) {
    #innerTxtDiv {
        font-size: 15px;
    }
    #firstBlock {
        padding: 0px;
        height: 640px;
    }
    #secondBlock {
        padding: 25px 0px;
        height: 670px;
    }
    #secondBlockTxt {
        width: 80%;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
    }
    #txtDiv {
        font-size: 15px;
        flex-direction: column;
    }
    .smallTxt1 {
        width: 100%;
        margin: 0px;
    }
    .smallTxt2 {
        width: 100%;
        margin: 0px;
        margin-top: 25px;
    }
    .smallTitle {
        font-size: 16px
    }
    .btn {
        font-size: 16px;
        padding: 10px;
    }
    .icon {
        display: none;
    }
    #thirdBlock {
        display: none;
    }

    #fourthBlock {
        background-color: white;
        color: black;
        padding: 25px 0px;
    }
    .bold {
        font-weight: 200;
    }
}

.logo:hover {
    filter: grayscale(0%);
}

.btn:hover {
    background: #a298e2;
    cursor: pointer;
}

