#header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

#headerIcon {
    font-weight: 600;
    font-size: 20px;
    margin: 0px 50px;
    margin-bottom: 7px;
    cursor: pointer;
}