#goPremiumBtn {
    padding: 10px;
    font-family: 'Nunito';
    font-weight: 600;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 25px;
    cursor: pointer;
}

.smallBtn {
    border: 2px solid #23F0C7;
    color: #23F0C7;
    border-radius: 0.3em;
    font-size: 1.1em;
    padding: 0.4em 1em;
    background: transparent;
    margin-top: 2.5em;
    transition: 0.3s;
}

.smallBtn:hover {
    background: #23F0C7;
    color: black;   
}

#form {
    background-color: #181818;
    width: 60%;
    height: 85%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px;
    padding: 25px;
    color: white;
}

#pros {
    display: flex;
    align-items: center;
}

#firstDiv {
    text-align: left;
    margin-right: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#price {
    background-color: #23F0C7;
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
}

#paymentDiv {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#advertPay {
    padding: 5px 20px;
    font-size: 14px;
    border:  2px solid #23F0C7;
    color: #23F0C7;
    border-radius: 5px;
    font-weight: 800;
    margin-bottom: 25px;
}

@media screen and (max-width: 480px) {
    #paymentDiv {
        margin-top: 0px;
    }
    #advertPay {
        font-size: 10px;
        padding: 5px;
        margin: 25px 0px;
    }
    .advert {
        font-size: 13px;
        margin-left: 10px;
    }
    #price {
        padding: 10px;
        font-size: 13px;
        flex-direction: row;
        text-align: left;
        align-items: center;
    }
    #firstDiv {
        width: 100%;
        margin-right: 0px;
        text-align: center;
        font-size: 12px;
    }
    #pros {
        flex-direction: column;
    }
    #form {
        height: 100%;
        width: 80%;
        margin: 0px;
        padding: 10px;
    }
    .smallBtn {
        margin-bottom: 50px;
    }
    #goPremiumBtn {
        display: flex;
        align-self: center;
        padding: 5px;
        margin: 10px 0px;
    }
  }

#goPremiumBtn:hover {
    color: #f9f9f9;
    background: black;
}

#mainDiv {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon {
    height: 20px;
    margin-right: 5px;
}

.pro {
    margin: 10px 0px;
}

#titleGP {
    font-weight: 800;
    margin-bottom: 20px;
}

#btn {
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 17px;
    font-family: 'Nunito';
    font-weight: 800;
    padding: 10px;
    cursor: pointer;  
    background-color: #23F0C7;
    border: 3px solid #23F0C7;
    width: 50%;
    transition: 0.3s;
}

#btn:hover {
    background-color: transparent;
    color: #23F0C7;
}

#postBtn {
    font-family: 'Nunito';
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
}

#postBtn:hover {
    background: whitesmoke
}
